* {
    -webkit-appearance: none;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

#ip {
    border-radius: 25px;
    border: 1px solid rgb(200, 200, 200);
    padding: 20px; 
    width: 500px;
    height: 15px;
    margin: 25px 10px 35px;
}
