* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: arial,sans-serif;
    font-size: 13px;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

#ip {
    border-radius: 25px;
    border: 1px solid rgb(200, 200, 200);
    padding: 20px; 
    width: 500px;
    height: 15px;
    margin: 25px 10px 10px;
}

#link {
    color: #1a0dab
}

header {
    width: 100%;
    height: 40px;
    display: block;
}

.top-left, .bot-left {
    float: left;
    height: 100%;
    margin-left: 10px;
}

.top-left a, .bot-left a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 7px;
}

.top-left a li, .top-right a li, .bot-left a li, .bot-right a li{
    display: table-cell;
    vertical-align: middle;
}

.top-right, .bot-right{
    float: right;
    height: 100%;
    margin-right: 10px;
}

.top-right a, .bot-right a{
    height: 100%;
    display: table;
    float: right;
    padding: 0px 7px;
}

footer {
    width: 100%;
    height: 40px;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    position: absolute; 
    bottom: 0;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(200, 200, 200);
}

input[type=submit] {
    margin: 25px 5px;
    padding: 5px 10px;
    border: 0px;
    border-radius: 3px;
}