* {
    -webkit-appearance: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
